* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.container-fluid {
	margin: 0;
	padding: 0;
}

.logo, .navbar {
	text-align: center;
}
.logo {
	background-color: #303133;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}
.logo h1 {
	font-size: 5em;
	font-weight: 800;
	margin: 0;
}
.logo i {
	font-size: 50px;
	color: #FFCBD2;
	margin: 10px auto;
	position: relative;
	top: -200px;
}
.navbar {
	background-color: #545658;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar ul {
	margin-top: 10px;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	margin: 0 15px;
	color: white;
	font-size: 20px;
	padding: 5px;
}
.navbar ul li a:hover {
	color: #FFCBD2;
	text-decoration: none;
	border-left: 2px solid #FFCBD2;
	font-size: 21px;

}
.carousel h1 {
	font-size: 60px;
}
#text-1 {
	color : #9C27B0;
}
#text-2 {
	color : #77FDFC;
}
#text-3 {
	color : #A5947B;
}
.carousel img {
	width: 100%;
}


.message {
	background-color: #2F3032;
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
}
.text {
	text-align: center;
	color: white;

}
.message .btn-group {
	margin: 20px auto;
}	
.message .btn {
	border: none;
	background-color: #545658;
	color: white;
}
.message .btn:hover, .message .btn:active  {
	background-color: white;
	color: #545658;
}
.btn .caret {
	display: none;
}

#categories{
	margin-top: 50px;
}
figure {
	width: 100%;
}
figure img {
	width: 100%;
}
figure .text {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}
figure .one {
	background-color: #EADFC7;
}
figure .two {
	background-color: #517E89;
}

figure .three {
	background-color: #7D819E;
}

/*about*/
.about-text {
	border-right: 3px solid #C1001F;
	padding-right: 30px;
}
#about h1 {
	color: #C1001F;
}
#about p {
	font-size: 20px;
}

#about p:first-child,  
#about p:nth-child(4), 
#about p:nth-child(6), 
#about p:nth-child(10) {
	font-weight: bold;
}
#about p:nth-child(10) {
	color: #C1001F;
}


/*CONTACTS*/
#contacts {
	text-align: center;
	background-color: #2F3032;
	color: white;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contacts-intro {
	margin-bottom: 70px;
}
#contacts i {
	font-size: 50px;
	color: #FFCBD2;
}
#contacts hr {
	width: 50%;
	margin: 5px auto;
}
#contacts a {
	color: white;
}
#contacts a:hover {
	color: #FFCBD2;
	text-decoration: none;
}

/*footer*/
.footer {
	background-color: #545658;
	color: white;
	text-align: center;
	padding: 15px;
}
.footer h1, .footer p {
	margin: 0;

}
.social ul {
	list-style-type: none;
}
.social ul li {
	display: inline-block;
	padding: 5px;
} 
.social ul li a i {
	font-size: 2.5em;
	color: white;
}
.social ul li a i:hover {
	color: #FFCBD2;
	font-size: 2.7em;
}
.footer p:only-child {
	font-size: 14px;
}
.footer span {
	color: #FFCBD2;
}
.footer .glyphicon {
	font-size: 1em;
	color: #FFCBD2;
	margin-top: 5px;
	margin-bottom: 5px;
}


.gal-section {
	background-color: #6D6F70;
	color: white;
	padding: 50px;
}
.gallery {
	text-align: center;
}
.wraper {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 50px;
	overflow: hidden;
}
.nav-arrow-left i, 
.nav-arrow-right i {
	color: #6D6F70;
	font-size: 50px;
	margin-top: 50px;
	cursor: pointer;
}
.nav-arrow-left i:hover, 
.nav-arrow-right i:hover {
	color: #FFCBD2;
	font-size: 55px;
}
.gallery img {
	width: 100%;
	
}
#item-0 {
	position: relative;
	top: -450px;
	left: 600px;
}
#item-1 {
	position: relative;
	top: -450px;
	left: 400px;
}
#item-2 {
	position: relative;
	top: -450px;
	left: 0;
}
#item-3 {
	position: relative;
	top: -450px;
	left: -400px;
}
#item-4 {
	position: relative;
	top: -450px;
	left:-600px;
}
/*
.gal-item {
	background: url(../img/gal-1.jpg);
}*/