<!-- About section -->
  	<section id="about">
  		<div class="about-background">
  			<div class="container">
  				<div class="section-title">
	  				<h2>About me</h2>
            <p>Here you'll find a little bit about me...</p>
	  			</div>
  				<div class="row">
            <div class="aboutWrapper">
    					<div class="col-xs-12 col-sm-6 col-md-3 about-image">
    						<img src="images/nare.png" alt="Nare">
    					</div>
    					<div class="col-xs-12 col-sm-6 col-md-3 contact-info">
  							<ul>
  								<li><h4>Address:</h4><span>13001 Vanowen street, North Hollywood, CA.</span></li>
                  <li><h4>Date of birth:</h4><span>12/09/1989</span></li>
  								<li><h4>Email:</h4><span>nareyepremyan25@gmail.com</span></li>
                  <li><h4>Phone:</h4><span>+1-954-614-3334</span></li>
                  <!-- <li><h4>Skype:</h4><span>john.luna</span></li> -->
                  <li><h4>Languages:</h4><span>English, Russian, Armenian</span></li>
  							</ul>
  						</div>
    					<div class="col-xs-12 col-md-6 about-grey-content">
    						<div>
  	  						<h3>Nare Yepremyan</h3>
  	  						<span>Professional Photographer</span>
  	  						<p>Hi there, Im a photographer based on the humongous city of Los Angeles, I capture emotions and tell stories; hopefully in a meaningful, straight-forward, sometimes subtle or humourous way. I prefer content and moments over gimmicks, fake posing and "creative" compositions: Life is a beautiful journey and work of art, all I do is document it along the way.</p>
  	  						<!-- <ul>
  	  							<li>
  	  								<a href="https://www.facebook.com/profile.php?id=100005622619199&fref=ts"><i class="fa fa-facebook"></i></a>
  	  							</li>
                    <li>
                      <a href="tel:+19546143334"><i class="fa fa-phone" aria-hidden="true"></i></a>
                     </li>
                      <li>
                        <a href="mailto:nareyepremyan25@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="http://narephotographer.blogspot.com/" target="_blanck"><i class="fa fa-bold" aria-hidden="true"></i></a>
                      </li>
  	  						</ul> -->
                  <app-social-icons class="social"></app-social-icons>
    						</div>
    					</div>
            </div>
  				</div><!-- end row -->
  			</div><!-- end container -->
  		</div>
  	</section>
  	<!-- end About section -->
