<!--BLOG SECTION -->
    <section id="blog">
      <div class="blog-background parallax-section">
        <div class="white-layer">
          <div class="container">
            <div class="blog-text">
              <p>for more of my work, make sure to visit</p>
              <h3><a href="http://narephotographer.blogspot.com/" target="_blanck">my blog</a></h3>
            </div> <!-- blog-text -->
          </div> <!-- container -->
        </div> <!-- white-layer -->
      </div>
    </section>

    <!--END BLOG SECTION-->