<!-- Home section -->
  	<section id="home" class="fill">
    <div class="container-fluid">
  		<div class="home-background parallax-section">
  			<div class="white-layer">
  				<div class="middle-content">
  					<h1>Hello, I'm Nare Yepremyan</h1>
  					<span>I'm A Professional Photographer </span>
  				</div>
  				<div class="arrow-down">
  					<a href="#about">
  						<i class="fa fa-long-arrow-down"></i>
  					</a>
  				</div>
  			</div>
  		</div>
      </div>
  	</section>
  	<!-- end Home section -->
