<!-- Skills -->
    <section id="skills" class="skills">
      <div class="container">
        <div class="skills-background">
          <div class="row">
            <!-- Skill box 1 photography -->
            <div class="col-xs-12 col-sm-6 col-md-6 skill-box">
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              <h4>My Capturing Philosophy </h4>
              <p>When it comes to taking an image, I always prefer going out to the nature landscapes, using the best source of light "the nature light", taking an advantage of the nature colors and pattern to add to the spirit of my photos.</p>
            </div>
            <!-- Skill box 2 Retouching-->
            <div class="col-xs-12 col-sm-6 col-md-6 skill-box">
              <i class="fa fa-paint-brush"></i>
              <h4>My Retouching Philosophy</h4>
              <p>I do re-touch my photos only my self, I think of them as each single one is a single story, single situation.. some of them will suit with MUCH IS LESS and others will suit LESS IS MUCH.</p>
            </div>
            <!-- end Skill box 4 -->
          </div><!-- end row -->
        </div>
      </div><!-- end container -->
    </section>
    <!-- end Skills -->