<!-- Toggle Menu -->
  	<button class="toggle-btn" (click)="clicked()">
      <span class="lines"></span>
    </button>
    <div class="menu" [ngClass]="{'show-menu': showNav}">
      <ul class="nav">
        <li class="active">
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
         <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  	<!-- end Toggle Menu -->
